.wishDialog {
  .wishModal {
  }
}
.modelInfo {
  padding: 20px;
  .wishInfo {
    display: flex;
    .leftInfoContent {
      width: 258px;
      height: 310px;
      border-radius: 2px;
      border: 1px solid #EEEEEE;
      .cardImg {
        width: 256px;
        height: 145px;
        background-color: #EEEEEE;
        border-radius: 2px 2px 0px 0px;
      }
      .cardContent {
        width: 256px;
        height: 164px;
        padding: 9px 4px 0 12px;
        position: relative;
        .cardToName {
          font-size: 14px;
          line-height: 20px;
        }
        .cardInfoContent {
          font-size: 14px;
          line-height: 19px;
          color: #666;
        }
        .cardFromName {
          font-size: 12px;
          line-height: 18px;
          position: absolute;
          bottom: 12px;
        }
      }
    }
    .righttoInfoContent {
      margin-left: 14px;
      > p {
        margin-top: 4px;
        font-size: 14px;
        color: #000;
        line-height: 20px;
        margin-bottom: 18px;
        span:last-child {
          font-size: 12px;
          line-height: 17px;
          color: #666;
          margin-left: 12px;
        }
      }
      .blessing {
        position: relative;
        background-color: #666;
        .textAreaSyles {
        }
        .textAreaNumber {
          position: absolute;
          bottom: 11px;
          right: 11px;
        }
      }
      .wishImgList {
        width: 768px;
        margin-top: 16px;
        display: flex;
        >p {
          width: 118px;
          height: 118px;
          background-color: #666;
          margin-right: 12px;
        }
        p:last-child {
          margin-right: 0;
        }
      }
    }
  }
}