.sendWishList {
  background-color: #fff;
  padding: 30px;
  > p {
    margin-bottom: 35px;
    line-height: 22px;
    font-weight: 500;
    color: #333;
    font-size: 16px;
  }
  .contentInfo {
    margin-bottom: 40px;
    .contentList {
      display: flex;
      .leftImg {
        width: 120px;
        height: 120px;
        background: rgba(0, 0, 0, 0.02);
      }
      .rightContent {
        padding: 19px 12px;
        p {
          line-height: 14px;
          font-size: 14px;
          margin-bottom: 20px;
        }
        p:last-child {
          margin-bottom: 0;
        }
      }
  
    }
  }
  .messageReply {
    width: 1008px;
    margin-top: 12px;
    margin-left: 132px;
    background-color: #F6F6F6;
    padding: 12px 9px;
    >p {
      font-size: 14px;
      line-height: 24px;
    }
  }
}