@import '~antd/lib/style/themes/default.less';

p,
h3 {
  margin: 0;
  padding: 0;
}
.pre {
  margin: 12px 0;
  padding: 12px 20px;
  background: @input-bg;
  box-shadow: @card-shadow;
}
.infoTitle {
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 6px 0px 0px 6px;
  margin-top: 20px;
  border-left: 4px solid #ce1925;
  padding: 0 41px 0 16px;
  justify-content: space-between;
  .titleText {
    display: flex;
    align-items: center;
    color: #d30b24;
    .name {
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      margin-right: 9px;
      .today {
        margin: 0 3px;
      }
    }
    .dividerVertical {
      width: 1px;
      height: 16px;
      background: #D40B25;
      margin: 0;
    }
    .HallWords {
      font-size: 12px;
      line-height: 17px;
    }
    img {
      width: 37px;
      height: 15px;
      margin-left: 9px;
      margin-right: 3px;
    }
  }
  .task {
    display: flex;
    align-items: center;
    img {
      width: 22px;
      height: 22px;
    }
    p {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .messageText {
      color: #d80024;
      line-height: 17px;
      font-size: 14px;
      vertical-align: middle;
    }
    .messageTost1 {
      margin-left: 7px;
      margin-right: 28px;
    }
    .messageTost2 {
      margin-left: 7px;
    }
    // .messageTost1,.messageTost2 {
    //   background-color: #CE1925;
    // }
    // span:last-child {
    //   margin-left: 26px;
    // }
  }
}
.somethingHall {
  width: 100%;
  height: 352px;
  background-color: #fff;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 20px;
  border-radius: 6px;
  .leftContent {
    width: 796px;
    .leftCarousel {
      display: flex;
      justify-content: space-between;
      // position: relative;
      .Carousel {
        // position: relative;
        width: 487px;
        height: 278px;
        cursor: pointer;
        video {
          height: 100%;
          object-fit: fill;
        }
        .carouselPlayImg {
          position: absolute;
          z-index: 40;
          left: 50%;
          top: 50%;
          width: 80px;
          margin-left: -40px;
          margin-top: -40px;

        }
        .spingLoading {
          text-align: center;
          // border-radius: 4px;
          line-height: 278px;
        }
        // // div {
        // //   height: 278px;
        // // }
        // .carouselContentImg {
        //   width: 100%;
        //   height: 278px;
        //   background-color: black;
        //   position: relative;
        //   img {
        //     width: 100%;
        //     height: 100%;
        //   }
        //   .playImg {
        //     width: 40px;
        //     height: 40px;
        //     position: absolute;
        //     left: 50%;
        //     margin-left: -20px;
        //     top: 50%;
        //     margin-top: -20px;
        //   }
        // }
        // .play {
        //   position: relative;
        //   img {
        //     position: absolute;
        //     width: 36px;
        //     height: 36px;
        //     z-index: 222;
        //     left: 50%;
        //     top: 50%;
        //     margin: -18px 0 0 -18px;
        //   }
        //   // position: relative;
        //   // left: 0;
        //   // top: 0;
        //   // width: 487px;
        //   // height: 273px;
        //   // z-index: 999;
        //   // background: url("../../assets/img/play.png") no-repeat center 80px;
        //   // background-size: 57px 57px;
        //   // &.stop {
        //   //   background: url("../../assets/img/play.png") no-repeat center 80px;
        //   //   background-size: 57px 57px;
        //   // }
        // }
      }
      .carouselVideo {
        position: absolute;
        // left: 0;
        width: 487px;
        height: 278px;
        background-color: black;
        z-index: 100;
      }
      .rightCarouselContent {
        width: 299px;
        height: 278px;
        background-color: #f4f4f4;
        border-radius: 6px;
        .rightcontentText {
          width: 100%;
          height: 58px;
          cursor: pointer;
          padding: 10px 20px 0 10px;
          &:hover {
            background-color: #fff;
            border-left: 2px solid #ce1925;
          }
        }
        .checkRightcontentText {
          background-color: #fff;
          border-left: 2px solid #ce1925;
        }
        .lookMore {
          cursor: pointer;
          margin-top: 12px;
          margin-left: 12px;
        }
        .content {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    .somethingHallTitle {
      font-size: 18px;
      font-weight: 600;
      line-height: 18px;
      margin-bottom: 20px;
    }
  }
  .rightContent {
    width: 372px;
    height: 312px;
    position: relative;
    .hallPeopleBackground {
      width: 100%;
      height: 100%;
    }
    .contentInfo {
      width: 296px;
      margin: 0 auto;
      position: absolute;
      top: 16px;
      left: 16px;
      cursor: pointer;
      .currentWeek {
        width: 40px;
        text-align: center;
        font-size: 14px;
        color: #ce1925;
        font-weight: 600;
      }
      .contentText {
        width: 296px;
        margin-top: 22px;
        font-size: 14px;
        line-height: 22px;
      }
      .hallPeopleName {
        margin-top: 9px;
        span:first-child {
          font-size: 20px;
          line-height: 20px;
          margin-right: 1px;
        }
        span:last-child {
          font-size: 10px;
          line-height: 10px;
        }
      }
      .hallPeopleImg {  
        margin-left: 27.5px;
        margin-top: 7px;
        img {
          width: 268px;
          height: 150px;
        }
      }
    }
    .lookMore {
      position: absolute;
      right: 14px;
      bottom: 42px;
      font-size: 14px;
      color: #999;
      line-height: 20px;
      writing-mode: vertical-lr;
      box-sizing: border-box;
      letter-spacing: 0.5em;
      cursor: pointer;
    }
  }
}
.otherContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  .leftContent {
    width: 816px;
  }
  .rightContent {
  }
}
.ant-popover-inner-content {
  padding: 0;
}
.ant-carousel .slick-list {
  border-radius: 6px;
}

.myNavContainer {
}
.swiper_container {
  width: 600px;
  height: 300px;
}  
