p {
  padding: 0;
  margin: 0;
}
.card {
  width: 372px;
  background-color: #fff;
  padding: 20px 20px 22px 20px;
  margin-bottom: 12px;
  border-radius: 6px;
  &.noPadding{
    padding: 8px 4px 10px 4px;
    margin-bottom: 0;
  }
  .cardTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    .titleName {
      font-size: 18px;
      font-weight: 600;
      line-height: 18px;
    }
    .lookMore {
      font-size: 16px;
      line-height: 22px;
      color: #666666;
      cursor: pointer;
    }
  }
  .contentInfo {
    display: flex;
    font-size: 14px;
    line-height: 20px;
    justify-content: space-between;
    p {
      margin-bottom: 12px;
    }
    .contentTitle {
      display: flex;
      align-items: center;
      width: 278px;
      .dot {
        width: 2px;
        height: 2px;
        display: inline-block;
        border-radius: 50%;
        background-color: #333;
        margin-right: 10px;
        line-height: 14px;
      }
      .title {
        width: 278px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &:hover {
        color: #CE1925;
        cursor: pointer;
        .dot {
          background-color: #CE1925;
        }
      }
    }
    .contentDate {
      color: #999999;
    }
  }
  .bottomLookMore {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    span {
      font-size: 14px;
      line-height: 14px;
      color: #666;
      margin-right: 9px;
    }
    img {
      width: 16px;
      height: 16px;
    }
  }
}