.container {
  margin: 10px 0;
  padding-bottom: 20px;
  background: #fff;
  border-radius: 6px;

  .list {
    overflow: scroll;
    max-height: 100vh;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}

:root {
  --bbs-primary-color: #ce1925;
}
