p {
  margin: 0;
  padding: 0;
}
.listDetail {
  width: 100%;
  background-color: #fff;
  padding: 78px 0 60px 0;
  .detailComponent {
    width: 800px;
    margin: 0 auto;
    .title {
      font-weight: 500;
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 30px;
    }
    .authorAndRestsInfo {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      >p {
        font-size: 12px;
        line-height: 14px;
        color: #666;
      }
      >div {
        font-size: 12px;
        line-height: 14px;
        color: #666;
        display: flex;
        align-items: center;
        p {
          display: flex;
          align-items: center;
        }
        img {
          width: 22px;
          height: 22px;
          margin-right: 4px;
        }
        .readAmount {
          margin: 0 51px;
        }
      }
    }
    .imgOrVideo {
      margin: 0 auto;
      margin-bottom: 31px;
      img {
        width: 800px;
        height: 447px;
      }
    }
    .contentIntroduced {
      .name {
        margin-bottom: 9px;
        font-size: 24px;
        line-height: 24px;
      }
      .line {
        width: 20px;
        height: 2px;
        background-color: #CE1925;
        margin-bottom: 5px;
      }
      .companie {
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 16px;
      }
      .detailInfo {
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 60px;
      }
    }
    .fakeLikes {
      width: 108px;
      height: 62px;
      background-color: #eee;
      border-radius: 36px;
      text-align: center;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      .fakeLikesImg {
        img {
          width: 28px;
          height: 28px;
        }
      }
      .fakeLikesNum {
        font-size: 16px;
        line-height: 14px;
        color: #999999;
        margin-top: 4px;
      }
    }
    .fakeLikesBackground {
      background-color: #CE1925;
      .fakeLikesNum {
        color: #fff;
      }
    }
    .fakeLikeTost {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
      margin-top: 20px;
    }
  }
}