.top3Name {
  width: 42px;
  height: 20px;
  margin: 0 auto;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  line-height: 20px;
  text-align: center;
}

.top3Depart {
  width: 60px;
  height: 12px;
  margin: 10px auto;
  color: #666;
  font-weight: 400;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  line-height: 12px;
  text-align: center;
}

.top3Amount {
  text-align: center;
  margin: 10px auto;
  width: 44px;
  height: 12px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 12px;
}

.last7Num {
  display: inline-block;
  text-align: right;
  margin: 0 10px;
  width: 15px;
  height: 17px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 17px;
}

.last7Name {
  margin: 0 20px;
  width: 36px;
  height: 17px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 17px;
}
