.tabsContainer {
  background-color: #fff;
  border-radius: 10px;
  .navTabs {
    margin: 0 20px;
    padding-top: 20px;
    span {
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #666666;
    }
    :global(.ant-tabs-nav) {
      &::before {
        border-bottom: 0;
      }
    }
    :global(.ant-tabs-tab) {
      padding: 0;
      margin: 0 20px 0 0;
    }

    a {
      font-size: 14px;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #666666;
    }
  }
}
