.tab {
  margin-top: 42px;

  :global(.ant-tabs-tab) {
    padding: 5px 0;

    span {
      font-size: 14px;
      font-weight: 400;
      color: #666666;
      line-height: 22px;
    }
  }
  :global(.ant-tabs-tab.ant-tabs-tab-active) {
    span {
      color: #ff5000;
    }
  }
  :global(.ant-tabs-ink-bar) {
    background: #ff5000;
  }
}
