.sidebarButton {
  height: 42px;
  width: 156px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;

  img {
    margin: 0 7px 0 22px;
    height: 20px;
    width: 20px;
  }

  &.selected {
    color: #ffffff;
    background: linear-gradient(45deg, #ff6c29 0%, #eb0029 100%);
  }
}
