.footer {
  .top {
    display: flex;
    height: 144px;
    .topLeft {
      flex: 0 0 66%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-right: 1px solid #d8d8d8;

      .textContainer {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: space-between;
        font-size: 14px;
        line-height: 38px;
        color: #333333;
        margin-right: 24.24%;
      }
    }
    .topRight {
      width: 34%;
      flex: 0 0 66%;
      display: flex;
      align-items: center;
      margin-left: 2.78%;

      .textContainerRight {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
        line-height: 14px;
        color: #ff5000;
        height: 88px;

        .item {
          display: flex;
          align-items: center;
          img {
            width: 26px;
            height: 24.8px;
            margin-right: 12px;
          }

          .phone {
            width: 115px;
            margin-right: 6px;
          }
          .day {
            font-size: 12px;
          }
        }
      }
    }
  }
  .bottomBg {
    background: linear-gradient(90deg, #ff6c29, #f50f0f 66%, transparent 0),
      linear-gradient(#d8d8d8 1px, transparent 0), #fff;
    height: 60px;

    .bottom {
      display: flex;

      .bottomLeft {
        flex: 0 0 66%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        img {
          height: 38px;
          margin-right: 30px;

          &:last-of-type {
            margin-right: 21.73%;
          }
        }
      }
      .bottomRight {
        flex: 0 0 34%;
        font-size: 12px;
        color: #999999;
        line-height: 60px;
        margin-left: 2.78%;
      }
    }
  }
}
